html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #bebebe;
  color: #323232;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}
